<html>
    <head>
        <title>
            Events
        </title>
        <link rel="stylesheet" href="eventsui.css">
    </head>
   <body>
    <div class="nav">
        <ul class="holder">
            <span class="img"><img src="MOHAMMED SCHOL.png" alt="" srcset=""></span>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a class="Gallery" href="/gallery">Gallery</a></li>
            <li><a href="/alumini">Alumini</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="#">FAQ</a></li>
            
   </body>
</html>